@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');
body {
    /* background-image: url(../image/search-background.jpg); */
    font-family: 'Roboto', sans-serif;
    background-color: rgb(248, 248, 248);
}

body::-webkit-scrollbar{
    display: none;
}

.big-title{
    width: 960px;
    font-size: 70px;
    font-weight: bold;
    margin: 100px auto;
    line-height:70px;
    color:rgb(12, 145, 101);
    display:flex;
    justify-content: left;
    gap: 20px;
    align-items: center;
}

.search-form {
    background-color: rgb(255, 255, 255);
    width: 960px;
    /* max-width: 1000px; */
    min-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    --btn_color_white: rgb(255, 255, 255);
    --btn_color_green: rgb(12, 145, 101);
    --btn_color_hover: rgb(196, 189, 189);
    
    /* border:rgb(12, 145, 101) 1px solid; */
    box-shadow:  5px 5px 15px #848484,
             -5px -5px 15px #ffffff;
    
}

.tab-button {
    width: calc(100%);
    background-color: rgb(255, 255, 255);
    display: flex;
    border-bottom: 3px solid rgb(12, 145, 101);
}

.tab-button button {
    background-color: rgb(12, 145, 101);
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.search-form-content {
    height: auto;
    padding: 20px;

}


/* #advanceSearch{
    background-color: var(--btn_color_white);
    color: var(--btn_color_green);
} */

/* #search-form input[type="text"] {
    width: 65%;
    height: 35px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    color: rgb(6, 73, 23);
    outline: none;
    border: 1px solid rgb(74, 163, 96);
}

#search-form input[type="button"] {
    width: 25%;
    height: 35px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(12, 145, 101);
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
} */

#quickSearch_content{
    width: 100%;
    /* background-color: aqua; */
    height: 30px;
    display: flex;
    gap: 10px;
    
}

#qs-select{
    min-width: 150px;
    text-align: center;
    font-size: 14px;
    outline: none;
}

#qs-input{
    flex:1;
    padding-left: 20px;
    outline: none;
}

#qs-button:hover{
    background-color: rgb(58, 206, 157);
    cursor: pointer;
}

#qs-button{
    width: 100px;
    background-color: var(--btn_color_green);
    border: none;
    color: white;
    font-size: 16px;
}

#advanceSearch_content{
    height: 490px;
    font-size: 16px;
}

.find-option{
    display: flex;
    margin: 20px 0;
    width: 100%;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 10px;
    
}

.taxonomic{
    display: flex;
    margin: 20px 0;
    width: 100%;
    /* height: 30px; */
    align-items: center;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 20px;
}


.redlist{
    display: flex;
    margin: 20px 0;
    width: 100%;
    /* height: 30px; */
    align-items: center;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 20px;
}


.ftitle{
    width: 150px;
    font-size: 16px;
    /* border: 1px solid rgb(97, 97, 97); */
    margin-right: 10px;
    margin-left: 30px;
    height: 100%;
    line-height: 30px;
    text-align: left;
    color: var(--btn_color_green);
    font-weight: bold;
}

.items{
    display: flex;
    flex: 1;
    gap: 10px;
    height: 30px;
    align-items: center;
    /* justify-content: center; */
    margin-left: 80px;
}

.items-taxo{
    margin-left: 50px;
    display: flex;
    flex: 1;
    /* align-items: center; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.items-redlist{
    display: flex;
    flex: 1;
    /* align-items: center; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-left: 50px;
    gap: 13px;
}

.fo-elem{
    width: 200px;
}

.taxonomic > div:first-child{
    margin-top: 10px;
}

.taxonomic-elem{
    width: 80%;
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.taxonomic-elem > input{
    margin-left: auto;
    max-width: calc(100% - 80px);
    width: 363px;
    font-size: 14px;
    padding:3px
}

.taxonomic-elem > sup{
    font-size: 11px;
    width:10px;
    height:30px;
    vertical-align: super;
}

.taxonomic-control{
    width: 45%;
    margin-left: 33%;
    /* margin: 0 auto; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.taxonomic-control> button{
    margin-left: auto;
    width: 50px;
    font-size: 14px;
    padding:3px;
    margin-right: 16px;
    background-color: var(--btn_color_green);
    border: 1px solid #ccc;
    color:#ffffff;
}
.taxonomic-control> button:hover{
    background-color: rgb(58, 206, 157);
    cursor: pointer;
}

.redlist-elem{
    /* width: calc(40% - 10px); */
    /* width: 327px; */
    width: 530px;
    display: flex;
    align-items: center;
    margin-left: 34px;
    /* text-align: center; */
    text-align: right;
}

.redlist-elem > select{
    font-size: 14px;
    padding:3px;
    width: 374px;
    /* flex: 1; */
    margin-left: auto;
}


.order-search{
    font-size: 16px;
    /* background-color: var(--btn_color_green); */
    height: 35px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    /* margin-top: 25px; */
    padding-right: 20px;
    padding-bottom: 10px;
    /* color: white; */
    /* border-top: 1px solid #ccc; */
}

/* .order-search-container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px
} */

#order-type{
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    /* margin-left: 86px; */
    margin-left: 10px;
}

#order-direction{
    width: 120px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    margin-right:10px;
}

.order-search-container > button{
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--btn_color_green);
    color: white;
   
}

.order-search-container > button:hover{
    background-color: rgb(66, 221, 105);
    cursor: pointer;
}

/* =================================================== */
.search-result{
    margin: 20px auto;
    width: 50%;
    min-width: 960px;
    min-height: 300px;  
    position: relative;
    /* border: 1px solid #ccc; */
}

.search-result-info{
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 30px;
    font-size: 20px;
    /* font-weight: bold; */
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.search-result-color{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 5px;
}

.src-elem{
    font-size: 14px;
    padding: 3px;
    color: white;
}

.search-result-body{
    width: 100%;
    /* background-color: rgb(241, 241, 241); */
}   


.species{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    box-shadow:  7px 7px 20px #6f6f6f,
             -7px -7px 20px #ffffff;
}

.name{
    width: calc(100% - 10px);
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

.name > a{
    color: white;
    text-decoration: none;
}
.name > a:hover{
    color: rgb(32, 134, 75);
    text-decoration: none;
}
.main-info{
    width: calc(100% - 20px);
    display: flex;
    padding: 10px;
    justify-content: center;
    /* height: 120px; */
    gap: 10px;
}

.main-info > img{

}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sience-name,.local-name,.habitat{
    font-size: 16px;
    display: flex;
}

.sience-name>strong,.local-name>strong,.habitat>strong{
    width: 130px;
    text-align: left;
    font-weight: 600;
    color: rgb(41, 41, 41);
}

.sience-name>div,.local-name>div,.habitat>div{
    flex: 1;
}

/* .local-name{
    font-size: 16px;
}

.habitat{
    font-size: 16px;
} */

.classification{
    margin-top: auto;
    font-size: 14px;
    color: rgb(88, 88, 88)
}

.maps{
    z-index: 0;
}

#showmore{
    margin: 30px auto;
    height: 40px;
    display: flex;
    justify-content: center;
}

#showmore>button{
    width: 200px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(12, 145, 101);
    color: white;
    border: 1px solid #ccc;
}

#showmore>button:hover{
    background-color:rgb(57, 209, 158);
    cursor: pointer;
}

.none{
    display: none !important;
}

@media (max-width: 900px) {
    .search-form {
        width: 50%;
        max-width: 500px;
        min-width: 400px;
    }
}

.level-4{
    background-color:rgb(92, 201, 164)
}
.level-3{
    background-color:rgb(177, 201, 92)
}
.level-2{
    background-color:rgb(201, 145, 92)
}
.level-1{
    background-color:rgb(201, 56, 37)
}

.invaild{
    border: 1px solid rgb(13, 255, 25);
    outline: none;
}

.illegal{
    border:1px solid rgb(255, 41, 41);
    outline: none;
}
